mat-card {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

        .summary-info {
            display: flex;
            justify-content: center;
        }
}