* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html, body { 
  height: 100%; 
}

body {
   font-family: Roboto, "Helvetica Neue", sans-serif; 
   background: lightgray;
}

// To allow '\n' in toast
  .p-toast-message-text {
    white-space: pre-line;
 }

 .flex {
   display: flex;
 }

 .flex-column {
  display: flex;
  flex-direction: column;
 }

 .flex-1 {
   flex: 1;
 }