<header>
    <span>
        < 4th January 2018>
    </span>
</header>
<section>
    <div class="aircraft">
        <div class="title-container">
            <span class="title">Aircraft</span>
        </div>
        <div class="content">
            <mckee-aircraft-summary></mckee-aircraft-summary>
        </div>
    </div>
    <div class="rotation">
        <div class="title-container">
            <span class="title">Rotation ABCDE</span>
        </div>
        <div class="content">
            <mckee-flight-summary></mckee-flight-summary>
        </div>
    </div>

    <div class="available-flights">
        <div class="title-container">
            <span class="title">Flights</span>
        </div>
        <div class="content">
            <ng-container *ngIf="flights$ | async; let flights">
                <div cdkDropList class="example-list">
                    <div cdkDrag class="example-box" *ngFor="let flight of flights">
                        <mckee-flight-summary [flight]="flight"></mckee-flight-summary>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>