<header>
    <span>
        < 4th January 2018 >
    </span>
</header>
<section>
    <div class="aircraft">
        <div class="title-container">
            <span class="title">Aircraft</span>
        </div>
        <div class="content">
            <ng-container *ngIf="aircrafts$ | async; let aircrafts">
                <ng-container *ngFor="let aircraft of aircrafts">
                    <mckee-aircraft-summary class="aircraft-summary" [aircraft]="aircraft"></mckee-aircraft-summary>
                </ng-container>
            </ng-container>
        </div>
    </div>



    <div class="rotation">
        <div class="title-container">
            <span class="title">Rotation ABCDE</span>
        </div>
        <div class="content">
            <ng-container *ngIf="flightsInRotation$ | async; let flightsInRotation">
                <div id="rotation-list" cdkDropList #rotationList="cdkDropList" [cdkDropListData]="flightsInRotation"
                    [cdkDropListConnectedTo]="['flights-list']" class="example-list"
                    (cdkDropListDropped)="rotationFlightDropped($event)">
                    <div cdkDrag class="example-box" *ngFor="let flight of flightsInRotation">
                        <mckee-flight-summary [flight]="flight"></mckee-flight-summary>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>



    <div class="available-flights">
        <div class="title-container">
            <span class="title">Flights</span>
        </div>
        <div class="content">
            <ng-container *ngIf="flights$ | async; let flights">
                <div id="flights-list" cdkDropList #todoList="cdkDropList" [cdkDropListData]="flights"
                    [cdkDropListConnectedTo]="['rotation-list']" class="example-list"
                    (cdkDropListDropped)="availableFlightDropped($event)">
                    <div cdkDrag class="example-box" *ngFor="let flight of flights">
                        <mckee-flight-summary [flight]="flight"></mckee-flight-summary>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>